:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --footer-color: #2F303A;
    --common-grey: #F5F4FA;
    --common-white: #FFFFFF;
    --text-title-main: 44px;
    --text-title: 36px;
    --text-big: 26px;
    --text-medium: 16px;
    --text-small: 14px;
}

/* general */

.hide {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    color: var(--primary-color);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* end general */

/* header */
.header {
    border-bottom: 1px solid #ECECEC;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 90px;
    font-family: var(--secondary-font);
    font-size: var(--text-big);
    color: var(--accent-color);
    text-decoration: none;
    line-height: 1.19;
    letter-spacing: 0.03em;

}

.logo-dark {
    color: var(--primary-color);
}

.logo-light {
    color: var(--common-white);
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    font-size: var(--text-size);
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
}


.navigation-link {
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navigation-link.active {
    color: var(--accent-color);
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
}

.navigation-list {
    list-style: none;
    gap: 50px;
}

.info-list {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.contact-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-color);
    font-size: var(--text-small);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

/* end header */

/* main */

.decision-section {
    background-color: var(--footer-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.decision-title {
    max-width: 696px;
    margin: 0 auto;
    text-align: center;
    color: var(--common-white);
    font-size: var(--text-title-main);
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.decision-btn:focus,
.decision-btn:hover {
    cursor: pointer;
}

.decision-btn {
    border: none;
    outline: none;
    padding: 10px 32px;
    margin: 40px auto 0 auto;
    border-radius: 4px;
    white-space: nowrap;
    align-items: center;
    text-align: center;
    display: block;
    font-family: var(--main-font);
    background-color: var(--accent-color);
    color: var(--common-white);
    font-size: var(--text-medium);
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

/* features */
.features {
    display: flex;
    gap: 30px;
    list-style: none;
}

.features-title {
    padding-bottom: 10px;
    font-size: var(--text-small);
    line-height: 1.14;
    letter-spacing: 0.03em;
    font-weight: 700;
}

.features-text {
    color: var(--secondary-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* About */
.about {
    padding-top: 0;
}

.about-title {
    padding-bottom: 50px;
    text-align: center;
    font-size: var(--text-title);
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.about-imges-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/* team */

.team {
    background-color: var(--common-grey);
    padding-bottom: 94px;
}

.team-title {
    padding-bottom: 50px;
    text-align: center;
    font-size: var(--text-title);
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.team-list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.team-name {
    text-align: center;
    padding: 0 0 10px 0;
    font-size: var(--text-medium);
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-text {
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--text-medium);
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-item {
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
}

.team-description {
    padding: 30px 20px;
}

/* footer */

.footer {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--footer-color);
}

.address-list {
    padding-top: 20px;
    list-style: none;
    font-style: normal;
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.address-link {
    font-size: var(--text-small);
    color: var(--common-white);
    text-decoration: none;
    line-height: 2;
    letter-spacing: 0.03em;
}

.contact-link-footer:hover,
.contact-link-footer:focus {
    color: var(--accent-color);
}

.contact-link-footer {
    display: block;
    padding-top: 9px;
    color: var(--secondary-color);
    font-size: var(--text-small);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

/* end footer */

/* portfolio*/
.project-filter-list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    list-style: none;

}

.project-filter-item:hover,
.project-filter-item:focus,
.project-filter-item.active {
    background: var(--accent-color);
    color: var(--common-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-filter-item {
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    background: var(--common-grey);
    font-family: var(--main-font);
    font-size: var(--text-medium);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    list-style: none;
    cursor: pointer;
}

.project-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    display: flex;
}

.project-item {
    overflow: hidden;
    width: 370px;
    display: block;
    list-style: none;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-type {
    font-size: var(--text-medium);
    color: var(--secondary-color);
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.project-description {
    border: 1px solid #EEEEEE;
    padding: 20px 25px 20px 25px;
}

/* end portfolio */