:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --footer-color: #2F303A;
    --common-grey: #F5F4FA;
    --common-white: #FFFFFF;
    --text-title-main: 44px;
    --text-title: 36px;
    --text-big: 26px;
    --text-medium: 16px;
    --text-small: 14px;
}

/* general */

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


body {
    font-family: var(--main-font);
    color: var(--primary-color);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
    max-width: 100%;
}

/* end general */

/* header */
.header {
    border-bottom: 1px solid #ECECEC;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 90px;
    font-family: var(--secondary-font);
    font-size: var(--text-big);
    color: var(--accent-color);
    text-decoration: none;
    line-height: 1.19;
    letter-spacing: 0.03em;

}

.logo-footer {
    margin-right: 0px;
}


.logo-dark {
    color: var(--primary-color);
}

.logo-light {
    color: var(--common-white);
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    font-size: var(--text-size);
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
}


.navigation-link {
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navigation-link.active {
    color: var(--accent-color);
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
}

.navigation-list {
    list-style: none;
    gap: 50px;
}

.info-list {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.contact-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-color);
    font-size: var(--text-small);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* .icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .contact-icon:hover,
.contact-icon:focus {
    fill: currentColor;
} */
.contact-item {
    display: flex;
    align-items: center;
    /* width: 10px;
    height: 16px; */
}

.contact-icon {
    margin-right: 10px;
    fill: currentColor;
    object-fit: cover;
}

.contact-item .contact-icon {
    align-items: center;
}

/* end header */

/* main */

.decision-section {
    background-color: var(--footer-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/img-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;


}

.decision-title {
    max-width: 696px;
    margin: 0 auto;
    text-align: center;
    color: var(--common-white);
    font-size: var(--text-title-main);
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.decision-btn:focus,
.decision-btn:hover {
    cursor: pointer;
}

.decision-btn {
    border: none;
    outline: none;
    padding: 10px 32px;
    margin: 40px auto 0 auto;
    border-radius: 4px;
    white-space: nowrap;
    align-items: center;
    text-align: center;
    display: block;
    font-family: var(--main-font);
    background-color: var(--accent-color);
    color: var(--common-white);
    font-size: var(--text-medium);
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

/* features */
.features {
    display: flex;
    gap: 30px;
    list-style: none;
}

.features-item {
    width: 270px;
}

.features-title {
    margin-bottom: 10px;
    font-size: var(--text-small);
    line-height: 1.14;
    letter-spacing: 0.03em;
    font-weight: 700;
}

.features-text {
    color: var(--secondary-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.features-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #212121;
    list-style: none;
    margin-bottom: 30px;
    background: var(--common-grey);
    border-radius: 4px;
}

/* About */
.about {
    padding-top: 0;
}

.about-title {
    margin-bottom: 50px;
    text-align: center;
    font-size: var(--text-title);
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.about-imges-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/* team */

.team {
    background-color: var(--common-grey);
}

.team-title {
    margin-bottom: 50px;
    text-align: center;
    font-size: var(--text-title);
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.team-list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.team-name {
    text-align: center;
    margin-bottom: 10px;
    font-size: var(--text-medium);
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-text {
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--text-medium);
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.team-item {
    background-color: var(--common-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-description {
    padding: 30px;
}

.team-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;

}


.team-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    list-style: none;
    color: rgb(175, 177, 184);
}

.team-soc-icon {
    fill: currentColor;
}


.team-soc-link:focus,
.team-soc-link:hover {
    color: var(--common-white);
    background-color: var(--accent-color);
}



/* client */
.client-title {
    margin-bottom: 50px;
    text-align: center;
    font-size: var(--text-title);
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.client-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    color: rgb(175, 177, 184);
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    list-style: none;
}

.client-icon {
    fill: currentColor;
}

.client-link:focus,
.client-link:hover {
    color: var(--accent-color);
    border: 1px solid #2196F3;
    border-radius: 4px;
}

/* footer */

.footer {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--footer-color);
}

.address-list {
    display: inline-block;
    list-style: none;
    font-style: normal;
    margin-top: 20px;

}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.address-link {
    font-size: var(--text-small);
    color: var(--common-white);
    text-decoration: none;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.contact-link-footer:hover,
.contact-link-footer:focus {
    color: var(--accent-color);
}

.contact-link-footer {
    display: block;
    margin-top: 9px;
    color: var(--secondary-color);
    font-size: var(--text-small);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.subscription-title {
    margin-bottom: 20px;

    font-size: var(--text-medium);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--common-white);
}

.subscription-list {
    list-style: none;
    display: flex;

    gap: 10px;
    list-style: none;
}

.subscription {
    display: block;
    padding-top: 12px;
    margin-left: 70px;

}

.subscription-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    list-style: none;
    color: var(--common-white);
    background-color: rgba(255, 255, 255, 0.1);
}

.subscription-icon {
    fill: currentColor;
}

.subscription-link:focus,
.subscription-link:hover {
    color: var(--common-white);
    background-color: var(--accent-color);
}

.center {
    display: flex;
    flex-wrap: wrap;
}


/* end footer */

/* portfolio*/
.project-filter-list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    list-style: none;

}

.project-filter-item:hover,
.project-filter-item:focus,
.project-filter-item.active {
    background: var(--accent-color);
    color: var(--common-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-filter-item {
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    background: var(--common-grey);
    font-family: var(--main-font);
    font-size: var(--text-medium);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    list-style: none;
    cursor: pointer;
}

.project-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    display: flex;
}

.project-item {
    overflow: hidden;
    width: 370px;
    display: block;
    list-style: none;
}

.project-link {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
}

.project-item:hover,
.project-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-type {
    font-size: var(--text-medium);
    color: var(--secondary-color);
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.project-description {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 25px 20px 25px;
}

/* end portfolio */