:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --footer-color: #2F303A;
    --common-grey: #F5F4FA;
    --common-white: #FFFFFF;
    --text-title-main: 44px;
    --text-title: 36px;
    --text-big: 26px;
    --text-medium: 16px;
    --text-small: 14px;
}


body {
    font-family: var(--main-font);
    color: var(--primary-color);
}

/* end general */

/* header */

.logo {
    font-family: var(--secondary-font);
    font-size: var(--text-big);
    color: var(--accent-color);
    text-decoration: none;
    line-height: 1.19;
    letter-spacing: 0.03em;

}

.logo-dark {
    color: var(--primary-color);
}

.logo-light {
    color: var(--common-white);
}

.navigation-list {
    font-size: var(--text-size);
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.navigation-link {
    color: var(--primary-color);
    text-decoration: none;
}

.navigation-link.active {
    color: var(--accent-color);
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
}

.navigation-list {
    list-style: none;
}

.info-list {
    list-style: none;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.contact-link {
    color: var(--secondary-color);
    font-size: var(--text-small);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

/* end header */

/* main */
.decision-section {
    background-color: var(--footer-color);
}

.decision-title {
    color: var(--common-white);
    font-size: var(--text-title-main);
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.decision-btn:focus,
.decision-btn:hover {
    cursor: pointer;
}

.decision-btn {
    font-family: var(--main-font);
    background-color: var(--accent-color);
    color: var(--common-white);
    font-size: var(--text-medium);
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;

}

/* features */
.features {
    list-style: none;
}

.features-title {
    font-size: var(--text-small);
    line-height: 1.14;
    letter-spacing: 0.03em;
    font-weight: 700;
}

.features-text {
    color: var(--secondary-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* About */

.about-title {
    font-size: var(--text-title);
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.about-imges-list {
    list-style: none;
}

/* team */

.team {
    background-color: var(--common-grey);
}

.team-title {
    font-size: var(--text-title);
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.team-list {
    list-style: none;
}

.team-name {
    font-size: var(--text-medium);
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-text {
    color: var(--secondary-color);
    font-size: var(--text-medium);
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* footer */

.footer {
    background-color: var(--footer-color);
}

.address-list {
    list-style: none;
    font-style: normal;
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.address-link {
    font-size: var(--text-small);
    color: var(--common-white);
    text-decoration: none;
    line-height: 2;
    letter-spacing: 0.03em;
}

/* end footer */

/* portfolio*/
.project-filter-list {
    list-style: none;
}

.project-filter-item:hover,
.project-filter-item:focus,
.project-filter-item.active {
    background: var(--accent-color);
    color: var(--common-white);
}

.project-filter-item {
    background: var(--common-grey);
    font-family: var(--main-font);
    font-size: var(--text-medium);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    list-style: none;
    cursor: pointer;
}

.project-item {
    list-style: none;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-type {
    font-size: var(--text-medium);
    color: var(--secondary-color);
    line-height: 1.9;
    letter-spacing: 0.03em;
}

/* end portfolio */