.logo {
    margin-right: 0;
    color: $accent-color;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-family: var(--secondary-font);
    font-size: var(--text-big);
    font-weight: 700;
    line-height: 1.17;   
    @include tablet {
        margin-right: 90px;
    }
    @include desktop {
        line-height: 1.19; 
         
    }
}

.logo__footer {
    margin-right: 0px;
}


.logo__dark {
    color: var(--primary-color);
}

.logo__light {
    color: var(--common-white);
}