:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --footer-color: #2F303A;
    --common-grey: #F5F4FA;
    --common-white: #FFFFFF;
    --text-title-main: 44px;
    --text-title: 36px;
    --text-big: 24px;
    --text-medium: 16px;
    --text-small: 14px;
}
// $main-font: 'Roboto', sans-serif;
// $secondary-font: 'Raleway',
// sans-serif;
// $primary-color: #212121;
// $secondary-color: #757575;
$accent-color: #2196F3;
// $footer-color: #2F303A;
// $common-grey: #F5F4FA;
// $common-white: #FFFFFF;
// $text-title-main: 44px;
// $text-title: 36px;
// $text-big: 26px;
// $text-medium: 16px;
// $text-small: 14px;