/* features */
.features{
    display: flex;
    gap: 30px;
    list-style: none;
}

.features__item {
    width: 270px;
}

.features__title {
    margin-bottom: 10px;
    font-size: var(--text-small);
    line-height: 1.14;
    letter-spacing: 0.03em;
    font-weight: 700;
}

.features__text {
    color: var(--secondary-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.features__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #212121;
    list-style: none;
    margin-bottom: 30px;
    background: var(--common-grey);
    border-radius: 4px;
}